<html>
<head>
    <title>
        {{title}}
    </title>
</head>
<body>
    <H3>
        {{title}}
    </H3>
    <div>
        <a href="{{url_for('spygears')}}">Spygears</a>
        <img src="{{url_for('static', filename='images/spygadgets.jpeg')}}" width=120>
        <a href="{{url_for('spymissions')}}">Spymissions</a>
        <img src="{{url_for('static', filename='images/spymissions.jpeg')}}" width=120>
        <a href="{{url_for('spyshops')}}">Spyshops</a>
        <img src="{{url_for('static', filename='images/spyshops.jpg')}}" width=120>
    </div>
</body>
</html>